* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100vw;
  padding: 33px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  padding: 22px 0 10px 0;
}

p {
  padding: 22px 10px 22px 0;
}

.element-container {
  display: inline-flex;
  width: 100%;
  align-items: center;

  /* justify-content: center; */
}

.removebtn {
  height: 33px;
  border: 1px solid black;
  padding: 7px;
  border-radius: 2px;
  background-color: white;
}

input {
  padding: 9px;
}

.button {
  padding: 7px;
}
